body{
  background-color: #74CB90;
}

.header {
	text-align: center;
  display: flex;
  align-items: center;
  min-height: 500px;
  justify-content: center; 
  color:#FEFDFD
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #74CB90;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FEFDFD;
  border: 2px solid #FEFDFD; 
  border-radius: 45px;
  cursor: pointer;
  box-sizing: border-box;
}

.start-button:hover{
	/*
  color:#FEFDFD;	
	background-color: #74CB90;
  */
  color: #FEFDFD; 
  background-color: #74CB90;
}
